<!DOCTYPE html>
<html>
 <head>
 	<meta charset="utf-8" />
 	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <title>Naver Map Viewer</title>
    <link rel="stylesheet" href="./assets/css/ol.css" />
    <link rel="stylesheet" href="./bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="./fontawesome-free-5.1.0-web/css/all.css" />
    <script type="text/javascript" src="./assets/js/ol.js"></script>
    <script type="text/javascript" src="./jquery/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="./bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?clientId=Or0VrBsMZP7mSnt8MCMX&submodules=geocoder"></script>
	<style type="text/css">
	html {
	  height: 100%;
	}
	body {
	  min-height: 100%;
	}
	.map{
		width: 100%;
		height: 100vh;
	}
	.tttt{
		margin-top: 50px;
		height:400px;
		position: relative;
		z-index:45;
	}
	.main-row{
		margin-top: 50px;
		position: relative;

	}

	.left-row{
		position: relative;
		z-index:45;
	}
	.right-row{
		position: relative;
		z-index:45;
	}

	.navbar-offset { margin-top: 50px; }

   .mini-submenu{
        display:none;
        background-color: rgba(255, 255, 255, 0.46);
        border: 1px solid rgba(0, 0, 0, 0.9);
        border-radius: 4px;
        padding: 9px;
        /*position: relative;*/
        width: 42px;
        text-align: center;
     }

     .mini-submenu-left {
        position: absolute;
        top: 60px;
        left: .5em;
        z-index: 40;
      }
     .mini-submenu-right {
        position: absolute;
        top: 60px;
        right: .5em;
        z-index: 40;
      }

    </style>

 </head>

 <body>
     <div class="container">
      <nav class="navbar navbar-fixed-top navbar-default" role="navigation">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Map Viewer (3-column layout)</a>
          </div>
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li class="active"><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li class="divider"></li>
                  <li><a href="#">Separated link</a></li>
                  <li class="divider"></li>
                  <li><a href="#">One more separated link</a></li>
                </ul>
              </li>
            </ul>
            <form class="navbar-form navbar-left" role="search">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Search">
              </div>
              <button type="submit" class="btn btn-default">Submit</button>
            </form>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="#">Link</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li class="divider"></li>
                  <li><a href="#">Separated link</a></li>
                </ul>
              </li>
            </ul>
            </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
          </nav>
        </div>

		<!-- <div class="navbar-offset"></div> -->
<div id="map" class="map">

        	<div class="row main-row">
				<div class="col-sm-4 col-md-3 sidebar sidebar-left pull-left left-row">
		          <div class="panel-group sidebar-body" id="accordion-left">
		            <div class="panel panel-default">
		              <div class="panel-heading">
		                <h4 class="panel-title">
		                  <a data-toggle="collapse" href="#layers">
		                    <i class="fa fa-list-alt"></i>
		                    	장치
		                  </a>
		                  <span class="pull-right slide-submenu">
		                    <i class="fa fa-chevron-left"></i>
		                  </span>
		                </h4>
		              </div>
		              <div id="layers" class="panel-collapse collapse in">
		                <div class="panel-body list-group">
		                  <a href="#" class="list-group-item">
		                    <i class="fa fa-mobile-alt"></i> 직장인/37세/남
		                  </a>
		                  <a href="#" class="list-group-item">
		                    <i class="fa fa-mobile-alt"></i> 중학생/16세/여
		                  </a>
		                  <a href="#" class="list-group-item">
		                    <i class="fa fa-mobile-alt"></i> 치매노인/92세/남
		                  </a>
		                </div>
		              </div>
		            </div>
		            <div class="panel panel-default">
		              <div class="panel-heading">
		                <h4 class="panel-title">
		                  <a data-toggle="collapse" href="#properties">
		                    <i class="fa fa-list-alt"></i>
		                    	상태
		                  </a>
		                </h4>
		              </div>
		              <div id="properties" class="panel-collapse collapse in">
		               <!--  <div class="panel-body">
		                  <p>
		                  Lorem ipsum dolor sit amet, vel an wisi propriae. Sea ut graece gloriatur. Per ei quando dicant vivendum. An insolens appellantur eos, doctus convenire vis et, at solet aeterno intellegebat qui.
		                  </p>
		                  <p>
		                  Elitr minimum inciderint qui no. Ne mea quaerendum scriptorem consequuntur. Mel ea nobis discere dignissim, aperiam patrioque ei ius. Stet laboramus eos te, his recteque mnesarchum an, quo id adipisci salutatus. Quas solet inimicus eu per. Sonet conclusionemque id vis.
		                  </p>
		                  <p>
		                  Eam vivendo repudiandae in, ei pri sint probatus. Pri et lorem praesent periculis, dicam singulis ut sed. Omnis patrioque sit ei, vis illud impetus molestiae id. Ex viderer assentior mel, inani liber officiis pro et. Qui ut perfecto repudiandae, per no hinc tation labores.
		                  </p>
		                  <p>
		                  Pro cu scaevola antiopam, cum id inermis salutatus. No duo liber gloriatur. Duo id vitae decore, justo consequat vix et. Sea id tale quot vitae.
		                  </p>
		                </div> -->

						<div class="panel-body" style="overflow-x:hidden;overflow-y:auto; height:390px">
		                <table class="table table-hover">
						    <thead>
						      <tr>
						        <th>속성</th>
						        <th>값</th>

						      </tr>
						    </thead>
						    <tbody>
						      <tr>
						        <td>시간</td>
						        <td>2018-07-04 12:52:08</td>

						      </tr>
						      <tr>
						        <td>위도</td>
						        <td>37.408002°</td>

						      </tr>
						      <tr>
						        <td>경도</td>
						        <td>126.971871°</td>

						      </tr>
						      <tr>
						        <td>고도</td>
						        <td>78.88</td>

						      </tr>
						      <tr>
						        <td>정확성</td>
						        <td>0.00 km</td>

						      </tr>
						      <tr>
						        <td>속도</td>
						        <td>0.0 km</td>

						      </tr>
						      <tr>
						        <td>모션</td>
						        <td>걷기</td>

						      </tr>

						      <tr>
						        <td>배터리</td>
						        <td>64%</td>
						      </tr>




						    </tbody>
						  </table>
						</div>

		              </div>
		            </div>
		          </div>
		        </div>


		        <div class="col-sm-4 col-md-6 mid"></div>

			      <div class="col-sm-4 col-md-3 sidebar sidebar-right pull-right right-row">
			          <div class="panel-group sidebar-body" id="accordion-right">
			            <div class="panel panel-default">
			              <div class="panel-heading">
			                <h4 class="panel-title">
			                  <a data-toggle="collapse" href="#taskpane">
			                    <i class="fa fa-tasks"></i>
			                    Console
			                  </a>
			                  <span class="pull-right slide-submenu">
			                    <i class="fa fa-chevron-right"></i>
			                  </span>
			                </h4>
			              </div>
			              <div id="taskpane" class="panel-collapse collapse in">
			                <div class="panel-body">
			                  <p align="center"><font size="3">
			                  	소프트위즈 사회 안전망 서비스 체험하기에 오신 것을 환영합니다.
			                  </font></p>
			                  <p>
			                  Elitr minimum inciderint qui no. Ne mea quaerendum scriptorem consequuntur. Mel ea nobis discere dignissim, aperiam patrioque ei ius. Stet laboramus eos te, his recteque mnesarchum an, quo id adipisci salutatus. Quas solet inimicus eu per. Sonet conclusionemque id vis.
			                  </p>
			                  <p>
			                  Eam vivendo repudiandae in, ei pri sint probatus. Pri et lorem praesent periculis, dicam singulis ut sed. Omnis patrioque sit ei, vis illud impetus molestiae id. Ex viderer assentior mel, inani liber officiis pro et. Qui ut perfecto repudiandae, per no hinc tation labores.
			                  </p>
			                  <p>
			                  Pro cu scaevola antiopam, cum id inermis salutatus. No duo liber gloriatur. Duo id vitae decore, justo consequat vix et. Sea id tale quot vitae.
			                  </p>
			                </div>
			              </div>
			            </div>
			          </div>
			        </div>



        </div>

        <div class="mini-submenu mini-submenu-left pull-left">
       	 <i class="fa fa-list-alt"></i>
      	</div>
      	<div class="mini-submenu mini-submenu-right pull-right">
        	<i class="fa fa-tasks"></i>
      	</div>

</div>



 </body>

     <script>
      var map = new naver.maps.Map('map');
      </script>

      <script type="text/javascript">

      $(function(){
        $('.sidebar-left .slide-submenu').on('click',function() {
          var thisEl = $(this);
          thisEl.closest('.sidebar-body').fadeOut('slide',function(){
            $('.mini-submenu-left').fadeIn();
            //applyMargins();
          });
        });

        $('.mini-submenu-left').on('click',function() {
          var thisEl = $(this);
          $('.sidebar-left .sidebar-body').toggle('slide');
          thisEl.hide();
          //applyMargins();
        });

        $('.sidebar-right .slide-submenu').on('click',function() {
          var thisEl = $(this);
          thisEl.closest('.sidebar-body').fadeOut('slide',function(){
            $('.mini-submenu-right').fadeIn();
            //applyMargins();
          });
        });

        $('.mini-submenu-right').on('click',function() {
          var thisEl = $(this);
          $('.sidebar-right .sidebar-body').toggle('slide');
          thisEl.hide();
          //applyMargins();
        });

      });
    </script>


</html>